org: mishaorganization
service: api-web-scraping-sismos

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::771215004862:role/LabRole

functions:
  scrape_sismos:
    handler: lambda.lambda_handler
    package:
      include:
        - ./**
    events:
      - http:
          path: /scrape/sismos
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    TablaSismos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaSismos
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
